/* ibsen.css */

/* Speech class styles */
.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
  }
  
  /* Direction class styles */
  .direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: #dbe9e9; /* Light background color */
  }
  
  /* Hover effect for directions */
  .direction:hover {
    background-color: #ea8282; /* Darker background on hover */
    color: white;
  }
  
  /* Character name class styles */
  .mrs-stockmann {
    color: #11cfb3; /* Blue for Mrs. Stockmann */
  }
  
  .dr-stockmann {
    color: #d9199c; /* Orange for Dr. Stockmann */
  }
  
  .morten-kiil {
    color: #009933; /* Green for Morten Kiil */
  }
  
 
  